@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Bauhaus93";
  font-display: swap;
  src: url("../fonts/BAUHS93.woff") format("woff"), url("../fonts/BAUHS93.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 14px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  font-family: "Myriad Pro";
  color: #000000;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu__item {
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.menu__box li {
  display: inline-block;
  margin: 20px 40px 3px 0;
}

#menu__toggle {
  display: none;
  opacity: 0;
}

.header {
  background-color: #000000;
}

.header__top {
  padding: 5.6% 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  font-family: Bauhaus93;
  font-size: 50px;
  letter-spacing: 5px;
  color: #65b715;
}

.header__hamburger-menu .menu__item {
  font-size: 22px;
  color: #ffffff;
  padding-bottom: 10px;
  position: relative;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.header__hamburger-menu .menu__item:before {
  content: "";
  width: 0;
  height: 0.1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #65b715;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__hamburger-menu .menu__item:hover:before {
  width: 100%;
  left: 0;
  background: #65b715;
}

.no-webp .header__content{
  background: url(../img/header.jpg) bottom right/768px no-repeat; }

.header__content {
  min-height: 70vh;
}

.header__text {
  padding: 25% 0px 15% 0px;
}

.header__text ul {
  text-shadow: 0px 0px 10px #65b715;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: 3.8px;
  color: #ffffff;
  margin: 25px 0px 0px 25px;
}

.header__text ul li {
  font-size: 30px;
  letter-spacing: 3.2px;
  list-style: disc;
}

.header__text ul:first-child {
  list-style: none;
}

.header__caption {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  text-shadow: 0px 0px 10px #65b715;
}

.product {
  padding: 6% 0px;
}

.product__row {
  padding: 0 0px 6% 0px;
  margin: 0px -13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product__image {
  max-width: 100%;
}

.product__col {
  padding: 0px 13px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.product__name {
  font-size: 2.8rem;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  margin: 2% 0px 5% 0px;
}

.product__name span {
  line-height: 3rem;
  display: block;
  margin: 2% 0px 0px 0px;
  font-size: 2.1rem;
  font-weight: normal;
}

.product__tabs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product__specif {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  font-size: 2.5rem;
  line-height: 40px;
  letter-spacing: 3.7px;
  white-space: nowrap;
}

.product__specif_right {
  color: #858585;
}

.product__desc {
  font-size: 2.5rem;
  line-height: 40px;
  letter-spacing: 3.7px;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px -20px;
}

.contact__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0px 20px;
}

.contact__title {
  color: #000000;
  font-size: 2.9rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 0px 0px 40px 0px;
}

.contact__link {
  color: #000000;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin: 0px 0px 30px 0px;
  display: block;
}

.tabs {
  margin: 15px 0px 0px 0px;
  font-size: 0;
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > div {
  display: none;
  margin: 30px 0px 0px 25px;
}

.tabs > label {
  display: inline-block;
  background-color: #dcdcdc;
  padding: 20px 40px;
  margin: 0px 10px;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3.7px;
  border-radius: 10px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
}

.tabs > input[type="radio"]:checked + label {
  background-color: #65b715;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2 {
  display: block;
}

.green-title {
  color: #65b715;
  font-size: 3.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.catalog__header {
  margin: 6% 0px;
}

.catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px -20px 7% -20px;
}

.catalog__column {
  padding: 0px 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.catalog__image {
  max-width: 100%;
}

.catalog__content {
  text-transform: uppercase;
}

.catalog__title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 3.7px;
  margin: 0px 0px 3.6% 0px;
  color: #000;
}

.catalog__text {
  font-size: 1.4rem;
  line-height: 30px;
  letter-spacing: 2.2px;
  margin: 0px 0px 5.3% 0px;
}

.button {
  text-transform: uppercase;
  padding: 15px 35px 12px 35px;
  color: #000000;
  border-radius: 41px;
  font-size: 2rem;
  letter-spacing: 3.7px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.button-green {
  font-weight: bold;
  background-color: #65b715;
}

.button-green:hover {
  background-color: #a6e7a9;
}

.button-grey {
  background-color: #e6e6e6;
}

.button-grey:hover {
  background-color: #858585;
}

.last {
  padding: 0px 0px 4.2% 0px;
  background-color: #000000;
}

.last__title {
  margin: 7% 0px 5% 0px;
}

.last__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px -20px;
}

.last__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 0px 20px;
}

.last__image {
  max-width: 100%;
}

.last__caption {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.7px;
  text-align: center;
  margin: 5% 0px 0px 0px;
}

.reviews__title {
  margin: 7% 0px 5% 0px;
}

.reviews__slider {
  margin: 0px 0px 10% 0px;
}

.slider {
  position: relative;
}

.slider__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px 0px 4.2% 0px;
}

.slider__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  height: 160px;
  border-radius: 50%;
}

.slider__client {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin: 0px 0px 0px 5.6%;
}

.slider__name {
  font-size: 2.6rem;
  letter-spacing: 3.7px;
  margin: 35px 0px 20px 0px;
}

.slider__buy {
  color: #898989;
  font-size: 2.1rem;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider__text {
  margin: 0 auto;
  max-width: 460px;
  font-size: 2.1rem;
  line-height: 30px;
  letter-spacing: 3px;
  text-align: center;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style-type: none;
  margin: 2% 5px 0 5px;
}

.slider .slick-dots li.slick-active button {
  background: transparent;
  border: 2px solid #000000;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #000000;
  border-radius: 50%;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background-color: #000000;
  padding: 4.2% 0px 2% 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px -10px;
}

.footer__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0px 10px;
}

.footer__title {
  color: #65b715;
  font-size: 2.9rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 0px 0px 45px 0px;
}

.footer__link {
  color: #ffffff;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin: 0px 0px 30px 0px;
  display: block;
}

.footer__link a img {
  width: 20px;
  margin: 0px 4px;
}

.footer__copiright {
  color: #898989;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 4% 0px 0px 0px;
}

.overlay_popup {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
  width: 95%;
}

.popup__content {
  margin: 5px auto 0px auto;
  padding: 20px;
  background-color: #e6e6e6;
  border-radius: 5px;
  max-width: 800px;
}

.popup__form {
  text-align: center;
}

.popup__input {
  display: block;
  font-size: 2rem;
  text-align: center;
  height: 40px;
  width: 75%;
  padding: 2px 5px;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.popup__input:focus {
  -webkit-box-shadow: 0px 0px 5px #65b715;
  box-shadow: 0px 0px 5px #65b715;
}

.popup__label {
  display: block;
  margin: 3% 0px;
  font-size: 2rem;
  letter-spacing: 2.2px;
}

.popup__submit {
  font-size: 2.2rem;
  letter-spacing: 3px;
  margin: 15px 0px 15px 0px;
}

.popup__cancel {
  display: block;
  cursor: pointer;
  margin: 0px 0px -20px 0px;
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.popup__cancel:hover {
  color: #65b715;
}

.guarantiees .catalog__text {
  font-size: 2rem;
  line-height: 30px;
  letter-spacing: 2px;
}

#button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #65b715;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 998;
}

#button::after {
  content: "";
  background: url("../img/sl-arrow_l.svg") center/40% no-repeat;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 50px;
  height: 50px;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}

@media (min-width: 769px) {
  .catalog__row:nth-child(odd) .catalog__content {
    text-align: right;
  }

  .catalog__row:nth-child(odd) .catalog__column:first-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 13px;
  }

  .header__logo {
    font-size: 45px;
  }

  .header__hamburger-menu .menu__item {
    font-size: 18px;
  }

  .product__specif {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 11px;
  }

  .header__logo {
    font-size: 40px;
  }

  .header__text ul {
    font-size: 25px;
  }

  .contact__title {
    font-size: 2.5rem;
    margin: 0px 0px 25px 0px;
  }

  .contact__link {
    font-size: 1.4rem;
    margin: 0px 0px 15px 0px;
  }

  .footer__title {
    font-size: 2.5rem;
    margin: 0px 0px 25px 0px;
  }

  .footer__link {
    font-size: 1.4rem;
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 992px) {
  .menu__item {
    display: block;
    padding: 12px 24px;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
  }

  .menu__box {
    -webkit-box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.7);
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    text-align: center;
    z-index: 2;
    overflow: auto;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
  }

  .menu__box li {
    display: block;
    margin: 0;
  }

  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 13px;
    right: 20px;
    width: 26px;
    height: 26px;
    z-index: 3;
  }

  .menu__btn > span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
  }

  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    -webkit-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }

  .header__hamburger-menu .menu__item::before {
    display: none;
  }

  .header__hamburger-menu .menu__item:hover {
    background-color: #CFD8DC;
    color: #000;
    border: none;
  }

  .button {
    padding: 10px 25px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .no-webp .header__content{
    background: url(../img/header.jpg) center/768px no-repeat; }

  .product__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .product__specif {
    font-size: 1.5rem;
    line-height: 20px;
    letter-spacing: 0.8px;
  }

  .product__desc {
    line-height: 25px;
  }

  .contact__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .tabs > label {
    padding: 15px 15px;
    margin: 0px 3px;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .catalog__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -20px 9% -20px;
  }

  .catalog__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .button {
    padding: 12px 25px 10px 25px;
  }

  .last__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .last__column:last-child {
    display: none;
  }

  .slider .slick-arrow {
    width: 0;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .footer__copiright {
    font-size: 1.5rem;
  }

  .popup__input {
    height: 30px;
  }
}

@media (max-width: 768) {
  .popup__title {
    font-size: 2.3rem;
  }
}

@media (max-width: 414px) {
  html {
    font-size: 9px;
  }

  .no-webp .header__content{
    background: url(../img/header.jpg) center/400px no-repeat; }

  .tabs > div {
    margin: 30px 0px 0px 0px;
  }

  .catalog__text {
    font-size: 1.3rem;
    line-height: 25px;
    letter-spacing: 2px;
  }

  .button {
    padding: 12px 20px 10px 20px;
  }

  .last__title {
    font-size: 2.8rem;
  }

  .last__caption {
    font-size: 1.8rem;
  }

  .reviews__title span {
    display: none;
  }

  .slider__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    height: 100px;
  }

  .footer__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .popup__input {
    font-size: 1.5rem;
  }

  .popup__label {
    font-size: 1.7rem;
    letter-spacing: 2px;
  }

  .popup__submit {
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
}

.webp .header__content{ background: url(../img/header.webp) bottom right/768px no-repeat; }

@media (max-width: 768px){

  .webp .header__content{ background: url(../img/header.webp) center/768px no-repeat; }
}

@media (max-width: 414px){

  .webp .header__content{ background: url(../img/header.webp) center/400px no-repeat; }
}